.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.title {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
}

.ReactVirtualized__Grid {
  outline: none;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  height: 440px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (min-width: 350px) {
  .container {
    border: solid 1px;
    border-radius: 20px;
    background-color: #ececec;
  }

  .outer {
    border-radius: 30px;
    padding: 50px;
    background-color: black;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
